USE [master]
GO
/****** Object:  Database [comds]    Script Date: 2017/4/26 23:33:23 ******/
CREATE DATABASE [comds]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'comds', FILENAME = N'D:\comds.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'comds_log', FILENAME = N'D:\comds_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [comds].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [comds]
GO
/****** Object:  Table [dbo].[ComGroup]    Script Date: 2017/4/26 23:33:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ComGroup](
	[GroupID] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ComGroup] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ComSort]    Script Date: 2017/4/26 23:33:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ComSort](
	[SortID] [int] IDENTITY(1,1) NOT NULL,
	[SortName] [varchar](50) NOT NULL,
	[GroupID] [int] NOT NULL,
	[RandomID] [int] NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_ComSort] PRIMARY KEY CLUSTERED 
(
	[SortID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ComUser]    Script Date: 2017/4/26 23:33:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ComUser](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[UserPwd] [varchar](50) NOT NULL,
	[UserCaption] [varchar](50) NULL,
 CONSTRAINT [PK_ComUser] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[ComSort]  WITH CHECK ADD  CONSTRAINT [FK_ComSort_ComGroup] FOREIGN KEY([GroupID])
REFERENCES [dbo].[ComGroup] ([GroupID])
GO
ALTER TABLE [dbo].[ComSort] CHECK CONSTRAINT [FK_ComSort_ComGroup]
GO
ALTER TABLE [dbo].[ComSort]  WITH CHECK ADD  CONSTRAINT [FK_ComSort_ComUser] FOREIGN KEY([UserID])
REFERENCES [dbo].[ComUser] ([UserID])
GO
ALTER TABLE [dbo].[ComSort] CHECK CONSTRAINT [FK_ComSort_ComUser]
GO
USE [master]
GO
